@import "../_variables.scss";
@import "_header-footer-styles.scss";
@import "_collection-styles.scss";
@import "_about-styles.scss";


main {
    min-height: calc(100vh - 157px);
}

.page-container {
    @include displayFlex(center, center);
    padding: 1em 3em 3em;
    margin-top: $margin-top-layout;
    background-color: $primaryLightColor;
    transform: skewy(-$distortion);
    width: 100%;
    min-height: 400px;
    z-index: 10;
    box-shadow: $boxShadows;
    position: relative;
    
    &:nth-of-type(2) {
        transform: skewy($distortion);

        .content {
            transform: skewy(-$distortion);
        }
    }
    .info {width: 240px;}
}

div.parallax-img {
    margin-top: $margin-top-layout;
    width: 100%;
    height: 27em;
}
div.parallax-img:nth-of-type(1)::before {
    content: url("../imgs/debby-hudson-MzSqFPLo8CE-unsplash_medium.webp");
    display: none;
}
div.parallax-img:nth-of-type(3)::before {
    content: url("../imgs/photo-1489844097929-c8d5b91c456e.webp");
    display: none;
}
div.parallax-img:nth-of-type(1){
    @include parallaxes ("../imgs/debby-hudson-MzSqFPLo8CE-unsplash_medium.webp", center);//Photo by <a href="https://unsplash.com/@hudsoncrafted?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Debby Hudson</a> on <a href="https://unsplash.com/photos/mason-jar-of-paintbrush-lot-MzSqFPLo8CE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>      
    opacity: 0.6;
}
div.parallax-img:nth-of-type(2){
    @include parallaxes ("../imgs/debby-hudson-MzSqFPLo8CE-unsplash_medium.webp", center);
    opacity: 0.6;
}
div.parallax-img:nth-of-type(3){
    @include parallaxes ("../imgs/photo-1489844097929-c8d5b91c456e.webp", bottom);
    margin-bottom: 0;
    height: 20em;
}

@media only screen and (max-width: 590px) {
    nav ul {justify-content: flex-end;padding-left: 0;}
}

@media only screen and (max-width: 1125px) {
    nav ul {padding-left: 4em;}
}

@media only screen and (max-width: 1000px) {
    .collection-page-container .project-container {
        grid-template-columns: 90%;
        grid-template-rows: 170px auto auto;
        
        .info {
            text-align: center;
        }
        .show-prj-detail {
            max-width: fit-content;
            margin: 0 auto;
        }
    }
    .collection-page-container .project-container .show-prj-detail {
        grid-row: auto;
    }
}

@media only screen and (min-width: 1921px) {
    body {
        font-size: 120%;
    }
}

