$maxWidth: 1024px;
$margin-top-layout: -5em;

/*Site Colors*/
$primaryDarkColor: #471a7b;
$primaryLightColor: #efe3ff;
$shadowColor: #282031;

$boxShadows: 0 0 10px $primaryDarkColor;


@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin headerFooterContainer{
    width: 100%;
    background-color: $primaryLightColor;
    box-shadow: 0px 0px 9px 3px $shadowColor, 0 0 25px 5px $insetShadowColor inset;
}

@mixin navMainAnimationValues {
    transform: translateY(-100px);
    animation: navBtns 0.7s ease-out forwards;
}

@mixin parallaxes ($imgLink, $imgPosition) {
    background-image: url($imgLink);
    background: linear-gradient(to bottom,rgba(255, 141, 0, 0.2),rgba(103, 58, 183, 0.4)),url($imgLink) $imgPosition fixed;
    background-size: cover;
}


