<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Martichka Portfolio Page | HTML | CSS | TypeScript | JS | Landing Pages | Galleries | CSS animations</title>
    <meta name="description" content="Explore my portfolio of web development projects. Some of the languages and tools I use: HTML, CSS, SCSS, JS, Three.js, Gulp, Webpack, etc.">
    <meta name="keywords" content="HTML, CSS, JavaScript, web dev, portfolio, front end, front-end, CSS animations, TypeScript, Three.js, SASS, SCSS, responsive design">
    <meta property="og:title" content="HTML & CSS Developer Portfolio">
    <meta property="og:description" content="Explore my portfolio of web development projects. Some of the languages and tools I use: HTML, CSS, SCSS, JS, Three.js, Gulp, Webpack, etc.">
    <meta property="og:image" content="{{site.baseurl}}/imgs/portfolio_image.webp">
    <meta property="og:url" content="https://martisign.eu">

    <link rel="dns-prefetch" fetchpriority="high" as="image" href="{{site.baseurl}}/imgs/pawel-czerwinski-ki9IMshQZ4Q-unsplash_small_opacity60.webp" type="image/webp" media="screen">
    <link rel="dns-prefetch stylesheet" fetchpriority="high" as="stylesheet" href="{{site.baseurl}}/css/reset.css" media="screen">
    <link rel="dns-prefetch stylesheet" as="stylesheet" href="{{site.baseurl}}/css/styles.css" media="screen">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/imgs/favicon-64x64.webp" media="screen">
<body>
    <!-- <img src="https://cdn.pixabay.com/photo/2016/01/20/10/53/maintenance-1151314_960_720.png" style="display: block;margin: 10% auto 0; width: 50%;" alt="under construction"> -->

    {% include header.html %}
    <main>
        {{content}}
    </main>
    {% include footer.html %}
</body>
</html>